
	<!-- START 弹出窗口：单品开单  -->
	<div id="addDataWindow" title="单品开单" style="width:970px;height:490px; font-size: 16"  class="easyui-window"  
	data-options="iconCls:'icon-save',modal:true,collapsible :false, loadingMessage:'正在运行'" >
	
	<div style="padding:10px 0 10px 40px">
	    <form id="mpForm" action="comm_addProduct.do?method=saveProduct" method="post" enctype="multipart/form-data">
	    	<table>
	    		<tr>
	    			<td class="tb_lable">货品编号:</td>
	    			<td><input class="easyui-validatebox" type="text" id="xskdCode" name="xskdCode" data-options="" style="width:160;" /></td>
	    			
	    			<td class="tb_lable">货品类别:</td>
	    			<td>
						<input class="easyui-validatebox" type="text" id="xskdType" name="xskdType" data-options="" style="width:160;" />
					</td>
					<!--<td>
						<input class="easyui-filebox" name="file1" data-options="prompt:'Choose a file...'" style="width:100%">
					</td>
	    			-->
	    		</tr>
	    		<tr>
	    			<td class="tb_lable">货品名称:</td>
	    			<td><input class="easyui-validatebox" type="text" id="xskdTitle" name="xskdTitle" style="width:160;" /></td>
	    			
	    			<td class="tb_lable">库存:</td>
	    			<td>
						<input class="easyui-validatebox" type="text" id="xskdCount" name="xskdCount" value="96" style="width:160;" />
					</td>
	    		</tr>
	    		<tr>
	    			<td class="tb_lable">销售单号:</td>
	    			<td><input class="easyui-validatebox" type="text" id="xskdNumber" name="xskdNumber" style="width:160;" /></td>
	    			
	    			<td class="tb_lable">结账方式:</td>
	    			<td>
						<input class="easyui-validatebox" type="text" id="xskdClearingForm" name="xskdClearingForm" style="width:160;" />
					</td>
	    		</tr>
	    		<tr>
	    			<td>销售分店:</td>
	    			<td>
	    				<input id="xskdFd" name="xskdFd"  style="width:160;">
	    			</td>
	    			<td>销售模式:</td>
	    			<td>
	    				<input id="xskdModel" name="xskdModel"  style="width:160;">
	    			</td>
	    			<td style="width:360;" rowspan="11">
	    				<img alt="图片" style="width:360; height:280;padding-left: 36;" src="../../imgs/1.jpg"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>开单日期:</td>
	    			<td><span id="xskdDate"></span></td>
	    			<td>选择柜台:</td>
	    			<td><input class="easyui-validatebox" type="text" id="xskdCabinet" name="xskdCabinet"  style="width:160;" /></td>
	    		</tr>
	    		<tr>
	    			<td>选择客户:</td>
	    			<td><input class="easyui-validatebox" type="text" id="xskdCustomer" name="xskdCustomer"  style="width:160;" /></td>
	    			<td>销售数量:</td>
	    			<td><input class="easyui-numberbox" type="text" id="xskdSaleCount" name="xskdSaleCount" 
	    				missingMessage="请填写数字" style="width:160;"></input></td>
	    		</tr> 
	    		<tr>
	    			<td>客户名称:</td>
	    			<td><input class="easyui-validatebox" type="text" id="xskdCustomerName" name="xskdCustomerName"  style="width:160;" /></td>
	    			<td>货品价格:</td>
	    			<td><input class="easyui-numberbox" type="text" name="xskdPrice" id="xskdPrice" 
	    				missingMessage="请填写数字" style="width:160;" /></td>
	    		</tr>
	    		<tr>
	    			<td>联系电话:</td>
	    			<td><input class="easyui-validatebox" type="text" id="xskdIphone" name="xskdIphone"  style="width:160;" /></td>
	    			<td>折扣:</td>
	    			<td><input class="easyui-numberbox" type="text" name="xskdZk" id="xskdZk"  
	    				missingMessage="请填写数字" style="width:160;"></input></td>
	    		</tr>
	    		<tr>
	    			<td>已有积分:</td>
	    			<td><input class="easyui-numberbox" type="text" name="xskdNowJf" id="xskdNowJf"  
	    				missingMessage="请填写数字" style="width:160;"></input></td>
					<td>折后价:</td>
	    			<td><input class="easyui-numberbox" type="text" name="xskdZkPrice" id="xskdZkPrice"  
	    				missingMessage="请填写数字" style="width:160;"></input></td>
	    		</tr>
	    		<tr>
	    			
	    			<td>本单积分:</td>
	    			<td><input class="easyui-numberbox" type="text" name="xskdNowOrderJf" id="xskdNowOrderJf"  
	    				missingMessage="请填写数字" style="width:160;"></input></td>
					
					<td>经手人:</td>
	    			<td><input class="easyui-validatebox" type="text" name="jsr"  id="jsr" data-options="required:true"  style="width:160;"></input></td>
	    		</tr>  
	    		<tr>
	    			<td>备注:</td>
	    			<td><textarea name="remark" id="remark" style="height:60px;width:160;"></textarea></td>
	    		</tr>
	    		<tr>
	    			<td>继续添加:</td>
	    			<td><label><input type="checkbox" id="isContinueExec" title="勾选后不关闭此窗口可继续添加数据" />勾选后不关闭此窗口</label></td>
	    			<td> </td>
	    			<td>
					    <div style="text-align:right; padding-right:35px">
					    	<input type="button" id="addBtn"  value="添加"/>
							<input type="button" id="closeWindowBtn"  value="取消"/>
					    </div>
	    			</td>
	    		</tr>
	    	</table>
	    </form>
    </div>
	
	</div>
	<!-- END 弹出窗口：单品开单   -->
	